body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://cdn.discordapp.com/attachments/1018493490935627776/1018607186018041886/IMG_0982.jpg);
}
header{
    height: 100px;
    width: 100%;
    margin: auto;
    border-bottom: solid black 1px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    margin-bottom: 0px;
    text-align: center;
}
.flaggene{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-bottom: 160px;
}
.kontinent{
    text-align: center;
    margin: auto;
    height: 35px;
    width: 100%;
    border-bottom: solid black 1px;
    background: rgb(139, 139, 139);
    border-top: solid black 1px;
    padding: 10px;
    margin-bottom: 25px;
}

.celle{
    width: 300px;
    height: 230px;
    border: solid 1px lightgray;
    transition: 0.3s;
}
.celle canvas{
    margin-left: 35px;
    margin-top: 15px;
}
.celle h4{
    text-align: center;
}
.celle:hover{
    box-shadow: 0 0 10px #979797;
}
.graaBak{
    background-color: #e8e8e8;
}
footer{
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: #979797;
    position: fixed;
    bottom: 0;
    font-size: 0.7rem;
    left: 0;
}
@media (min-width: 1580px){
    #flaggene{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1180px){
    #flaggene{
        grid-template-columns: repeat(2, 1fr);
    }
}
